extends layout

block content
  h1 Node.JS Movie-Api
  p Hoşgeldiniz. API kullanımı için projemin bulunduğunu github'daki talimatları uygulayarak kullanmaya başlayabilirsiniz..
  a(href="https://github.com/barisozdemirr/movie-api") Proje dosyalarına erişmek için tıklayın.
